Repository DeepDive-SOLID/EXP-MISSION-Shoppingmall, pull requests merged in 2025-07, with the labels that each got.

#113 Bug/fe/product img
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/api/axios.ts
  frontend/src/api/home/homeApi.ts
  frontend/src/api/home/reviewApi.ts
  frontend/src/api/mypage/memberApi.ts
  frontend/src/components/common/CounterBox/CounterBox.tsx
  frontend/src/components/common/Header/Header.module.scss
  frontend/src/components/common/Header/Header.tsx
  frontend/src/components/common/Header_dash/Header.tsx
  frontend/src/components/common/Header_login/Header.module.scss
  frontend/src/components/common/Header_login/Header.tsx
  frontend/src/components/common/Header_logout/Header.tsx
  frontend/src/components/common/ProtectedRoute.tsx
  frontend/src/components/common/Sidebar_mypage/Sidebar.tsx
  frontend/src/components/detail/Info/Info.tsx
  frontend/src/components/detail/ProductImg/ProductImg.tsx
  frontend/src/components/detail/Review/Review.module.scss
  frontend/src/components/detail/Review/Review.tsx
  frontend/src/components/home/HomePopular/HomePopular.module.scss
  frontend/src/components/home/HomePopular/HomePopular.tsx
  frontend/src/components/home/HomeRecommend/HomeRecommend.module.scss
  frontend/src/components/home/HomeRecommend/HomeRecommend.tsx
  frontend/src/components/search/SearchMain/SearchMain.tsx
  frontend/src/contexts/AuthContext.tsx
  frontend/src/main.tsx
  frontend/src/pages/detail/Detail.module.scss
  frontend/src/pages/detail/Detail.tsx
  frontend/src/pages/home/Home.tsx
  frontend/src/pages/login/findPw/Find.module.scss
  frontend/src/pages/login/findPw/FindId.tsx
  frontend/src/pages/login/findPw/FindPw.tsx
  frontend/src/pages/login/signIn/SignIn.module.scss
  frontend/src/pages/login/signIn/SignIn.tsx
  frontend/src/pages/login/signIn/SignInFromPayment.module.scss
  frontend/src/pages/login/signIn/SignInFromPayment.tsx
  frontend/src/pages/login/signUp/SignUp.module.scss
  frontend/src/pages/login/signUp/SignUp.tsx
  frontend/src/pages/mypage/cardInfo/addComplete/AddComplete.module.scss
  frontend/src/pages/mypage/cardInfo/addComplete/AddComplete.tsx
  frontend/src/pages/mypage/cardInfo/addFail/AddFail.module.scss
  frontend/src/pages/mypage/cardInfo/addFail/AddFail.tsx
  frontend/src/pages/mypage/cardInfo/cardAdd/CardAdd.module.scss
  frontend/src/pages/mypage/cardInfo/cardAdd/CardAdd.tsx
  frontend/src/pages/mypage/cardInfo/cardInfo/CardInfo.module.scss
  frontend/src/pages/mypage/cardInfo/cardInfo/CardInfo.tsx
  frontend/src/pages/mypage/editProfile/EditProfile.module.scss
  frontend/src/pages/mypage/editProfile/EditProfile.tsx
  frontend/src/pages/mypage/orderList/OrderList.module.scss
  frontend/src/pages/mypage/orderList/OrderList.tsx
  frontend/src/pages/search/Search.tsx
  frontend/src/types/admin/product.ts
  frontend/src/types/home/homeProduct.ts
  frontend/src/types/home/homeTravel.ts
  frontend/src/types/mypage/member.ts
  frontend/src/utils/auth.ts
  frontend/src/utils/productUtils.ts
Labels: bug, frontend

#134 fix: 상세 페이지 데이터 로직 변경
  backend/src/main/java/solid/backend/entity/CompoundKey.java
  backend/src/main/java/solid/backend/entity/OrderProduct.java
  backend/src/main/java/solid/backend/entity/OrderProductId.java
  backend/src/main/java/solid/backend/entity/OrderTravel.java
  backend/src/main/java/solid/backend/entity/OrderTravelId.java
  backend/src/main/java/solid/backend/entity/Orders.java
  backend/src/main/java/solid/backend/entity/Payment.java
  backend/src/main/java/solid/backend/jpaRepository/OrderProductRepository.java
  backend/src/main/java/solid/backend/jpaRepository/OrderTravelRepository.java
  backend/src/main/java/solid/backend/main/home/controller/HomeController.java
  backend/src/main/java/solid/backend/main/home/dto/HomeProductDto.java
  backend/src/main/java/solid/backend/main/home/dto/HomeTravelDto.java
  backend/src/main/java/solid/backend/main/home/repository/HomeQueryRepository.java
  backend/src/main/java/solid/backend/main/home/service/HomeService.java
  backend/src/main/java/solid/backend/main/home/service/HomeServiceImpl.java
Labels: backend

#137 feat: 회원가입 이메일 중복 체크
  backend/src/main/java/solid/backend/main/sign/controller/SignController.java
  backend/src/main/java/solid/backend/main/sign/dto/SignUpCheckEmailDto.java
  backend/src/main/java/solid/backend/main/sign/service/SignService.java
  backend/src/main/java/solid/backend/main/sign/service/SignServiceImpl.java
Labels: enhancement, backend

#139 feat: 로그인 토큰 정보를 사용하여 로그인, 헤더, 마이페이지 개발
  frontend/src/api/admin/productApi.ts
  frontend/src/api/admin/travelApi.ts
  frontend/src/api/axios.ts
  frontend/src/api/login/authApi.ts
  frontend/src/api/mypage/cardApi.ts
  frontend/src/api/mypage/memberApi.ts
  frontend/src/api/mypage/orderApi.ts
  frontend/src/assets/images/kakao.jpg
  frontend/src/assets/images/nh.jpg
  frontend/src/assets/images/samsung.jpg
  frontend/src/components/common/ProtectedRoute.tsx
  frontend/src/components/common/Sidebar_mypage/Sidebar.tsx
  frontend/src/contexts/AuthContext.tsx
  frontend/src/pages/login/signIn/SignIn.tsx
  frontend/src/pages/login/signUp/SignUp.module.scss
  frontend/src/pages/login/signUp/SignUp.tsx
  frontend/src/pages/mypage/cardInfo/cardAdd/CardAdd.tsx
  frontend/src/pages/mypage/cardInfo/cardInfo/CardInfo.tsx
  frontend/src/pages/mypage/editProfile/EditProfile.module.scss
  frontend/src/pages/mypage/editProfile/EditProfile.tsx
  frontend/src/pages/mypage/orderList/OrderList.tsx
  frontend/src/types/login/auth.ts
  frontend/src/types/mypage/card.ts
  frontend/src/types/mypage/order.ts
  frontend/src/utils/auth.ts
Labels: frontend

#141 feat: 마이페이지 기능 추가
  backend/README.md
  backend/src/main/java/solid/backend/entity/Card.java
  backend/src/main/java/solid/backend/entity/Member.java
  backend/src/main/java/solid/backend/jpaRepository/CardRepository.java
  backend/src/main/java/solid/backend/mypage/member/controller/MypageMemberController.java
  backend/src/main/java/solid/backend/mypage/member/dto/MypageMemberDto.java
  backend/src/main/java/solid/backend/mypage/member/dto/MypageMemberProfileDto.java
  backend/src/main/java/solid/backend/mypage/member/dto/MypageMemberUpdDto.java
  backend/src/main/java/solid/backend/mypage/member/service/MypageMemberService.java
  backend/src/main/java/solid/backend/mypage/member/service/MypageMemberServiceImpl.java
  backend/src/main/java/solid/backend/mypage/orders/controller/MypageOrdersController.java
  backend/src/main/java/solid/backend/mypage/orders/dto/MypageOrdersListDto.java
  backend/src/main/java/solid/backend/mypage/orders/dto/MypageOrdersReviewAddDto.java
  backend/src/main/java/solid/backend/mypage/orders/dto/MypageOrdersReviewDto.java
  backend/src/main/java/solid/backend/mypage/orders/dto/MypageOrdersReviewIdDto.java
  backend/src/main/java/solid/backend/mypage/orders/dto/MypageOrdersReviewUpdDto.java
  backend/src/main/java/solid/backend/mypage/orders/dto/MypageOrdersUpdDto.java
  backend/src/main/java/solid/backend/mypage/orders/repository/MypageOrdersQueryRepository.java
  backend/src/main/java/solid/backend/mypage/orders/service/MypageOrdersService.java
  backend/src/main/java/solid/backend/mypage/orders/service/MypageOrdersServiceImpl.java
  backend/src/main/java/solid/backend/mypage/payment/controller/PaymentController.java
  backend/src/main/java/solid/backend/mypage/payment/dto/PaymentAddDto.java
  backend/src/main/java/solid/backend/mypage/payment/dto/PaymentDto.java
  backend/src/main/java/solid/backend/mypage/payment/dto/PaymentListDto.java
  backend/src/main/java/solid/backend/mypage/payment/repository/PaymentQueryRepository.java
  backend/src/main/java/solid/backend/mypage/payment/service/PaymentService.java
  backend/src/main/java/solid/backend/mypage/payment/service/PaymentServiceImpl.java
Labels: enhancement, backend

#156 feat: 결제화면 페이지 제작
  frontend/package-lock.json
  frontend/package.json
  frontend/src/api/basket/basketApi.ts
  frontend/src/api/order/orderApi.ts
  frontend/src/assets/images/addComplete.jpg
  frontend/src/assets/images/addFail.jpg
  frontend/src/assets/images/cart.png
  frontend/src/assets/images/kb.jpg
  frontend/src/assets/images/product/carrier.jpg
  frontend/src/assets/images/product/pilow.jpg
  frontend/src/assets/images/product/snorkel.jpg
  frontend/src/assets/images/product/travelkit.jpg
  frontend/src/assets/images/product/umbrella.jpg
  frontend/src/assets/index.ts
  frontend/src/components/common/CounterBox/CounterBox.tsx
  frontend/src/components/common/Header/Header.tsx
  frontend/src/components/detail/Info/Info.module.scss
  frontend/src/components/detail/Info/Info.tsx
  frontend/src/components/detail/ProductImg/ProductImg.module.scss
  frontend/src/components/detail/ProductImg/ProductImg.tsx
  frontend/src/components/detail/Review/Review.tsx
  frontend/src/components/home/HomeBanner/HomeBanner.module.scss
  frontend/src/components/home/HomeBanner/HomeBanner.tsx
  frontend/src/components/home/HomePopular/HomePopular.tsx
  frontend/src/components/home/HomeRecommend/HomeRecommend.tsx
  frontend/src/components/order/AddCard/AddCard.module.scss
  frontend/src/components/order/AddCard/AddCard.tsx
  frontend/src/components/order/OrderAgreement/OrderAgreement.module.scss
  frontend/src/components/order/OrderAgreement/OrderAgreement.tsx
  frontend/src/components/order/OrderPayment/OrderPayment.module.scss
  frontend/src/components/order/OrderPayment/OrderPayment.tsx
  frontend/src/components/order/OrderProduct/OrderProduct.module.scss
  frontend/src/components/order/OrderProduct/OrderProduct.tsx
  frontend/src/components/search/SearchMain/SearchMain.tsx
  frontend/src/index.css
  frontend/src/main.tsx
  frontend/src/pages/cart/Cart.module.scss
  frontend/src/pages/cart/Cart.tsx
  frontend/src/pages/mypage/cardInfo/addComplete/AddComplete.module.scss
  frontend/src/pages/mypage/cardInfo/addComplete/AddComplete.tsx
  frontend/src/pages/mypage/cardInfo/addFail/AddFail.module.scss
  frontend/src/pages/mypage/cardInfo/addFail/AddFail.tsx
  frontend/src/pages/mypage/cardInfo/cardAdd/CardAdd.module.scss
  frontend/src/pages/mypage/cardInfo/cardInfo/CardInfo.module.scss
  frontend/src/pages/mypage/orderList/OrderList.module.scss
  frontend/src/pages/order/order.tsx
  frontend/src/pages/payresult/PayFail.tsx
  frontend/src/pages/payresult/PayResult.module.scss
  frontend/src/pages/payresult/PaySuccess.tsx
  frontend/src/store/exampleStore.ts
  frontend/src/types/basket/basket.ts
  frontend/src/types/home/homeTravel.ts
  frontend/src/types/order/order.ts
Labels: enhancement, frontend

#157 refactor: 토큰 재발급 공통 로직 분리
  frontend/src/api/axios.ts
  frontend/src/components/detail/Info/Info.tsx
  frontend/src/contexts/AuthContext.tsx
  frontend/src/utils/auth.ts
Labels: frontend, refactor

#159 fix: 머지시 삭제된 파일 복원
  frontend/src/assets/images/addComplete.jpg
  frontend/src/assets/images/addFail.jpg
  frontend/src/assets/images/kakao.jpg
  frontend/src/main.tsx
  frontend/src/pages/mypage/cardInfo/addComplete/AddComplete.module.scss
  frontend/src/pages/mypage/cardInfo/addComplete/AddComplete.tsx
  frontend/src/pages/mypage/cardInfo/addFail/AddFail.module.scss
  frontend/src/pages/mypage/cardInfo/addFail/AddFail.tsx
  frontend/src/pages/mypage/cardInfo/cardAdd/CardAdd.module.scss
  frontend/src/pages/mypage/cardInfo/cardAdd/CardAdd.tsx
  frontend/src/pages/mypage/cardInfo/cardInfo/CardInfo.module.scss
  frontend/src/pages/mypage/orderList/OrderList.module.scss
  frontend/src/pages/mypage/orderList/OrderList.tsx
Labels: bug, frontend

#154 feat: refresh token 세션 삭제
  backend/src/main/java/solid/backend/Jwt/JwtController.java
  backend/src/main/java/solid/backend/Jwt/README.md
  backend/src/main/java/solid/backend/config/SecurityConfig.java
  backend/src/main/java/solid/backend/main/sign/README.md
  backend/src/main/java/solid/backend/main/sign/controller/SignController.java
Labels: enhancement, backend

#160 feat: 로그아웃 시 api 요청 추가
  frontend/src/api/login/authApi.ts
  frontend/src/utils/auth.ts
Labels: enhancement, frontend

#183 Bug: 회원관리 버그 수정 및 css 수정
  frontend/src/api/axios.ts
  frontend/src/pages/admin/manageProduct/ManageProduct.module.scss
  frontend/src/pages/admin/manageTravel/ManageTravel.module.scss
  frontend/src/pages/login/findPw/FindId.tsx
  frontend/src/pages/login/findPw/FindPw.tsx
  frontend/src/pages/login/signIn/SignIn.tsx
  frontend/src/pages/login/signUp/SignUp.module.scss
  frontend/src/pages/login/signUp/SignUp.tsx
  frontend/src/pages/mypage/cardInfo/cardAdd/CardAdd.module.scss
Labels: bug, frontend

#202 refactor: 주문내역에서 여행상품 선택시 상세 페이지로 이동 기능 추가
  frontend/src/pages/mypage/orderList/OrderList.tsx
  frontend/src/types/mypage/order.ts
Labels: frontend, refactor

#197 fix: 서버에서 토큰 만료된 경우 처리 추가
  frontend/src/api/axios.ts
  frontend/src/utils/auth.ts
Labels: bug, frontend, refactor

#198 fix: 홈화면 피드백 보완 Bug/fe/home
  frontend/src/api/home/homeApi.ts
  frontend/src/components/detail/Info/Info.module.scss
  frontend/src/components/detail/Info/Info.tsx
  frontend/src/components/detail/Review/Review.tsx
  frontend/src/components/home/HomeDeadline/HomeDeadline.module.scss
  frontend/src/components/home/HomeDeadline/HomeDeadline.tsx
  frontend/src/components/home/HomePopular/HomePopular.module.scss
  frontend/src/components/home/HomePopular/HomePopular.tsx
  frontend/src/components/home/HomeRecommend/HomeRecommend.module.scss
  frontend/src/components/home/HomeRecommend/HomeRecommend.tsx
  frontend/src/components/order/OrderPayment/OrderPayment.tsx
  frontend/src/components/search/SearchMain/SearchMain.tsx
  frontend/src/index.css
  frontend/src/pages/home/Home.tsx
  frontend/src/types/home/homeProduct.ts
  frontend/src/types/home/review.ts
  frontend/src/types/order/order.ts
Labels: bug, enhancement, frontend

#190 refactor: Spring Security api 권한 설정
  backend/src/main/java/solid/backend/config/SecurityConfig.java
Labels: backend

#192 fix: 홈 검색시 필터 변경, 리뷰 사용자 프로필 사진 출력
  backend/src/main/java/solid/backend/main/home/controller/HomeController.java
  backend/src/main/java/solid/backend/main/home/dto/HomeDetailDto.java
  backend/src/main/java/solid/backend/main/home/dto/HomeProductDto.java
  backend/src/main/java/solid/backend/main/home/dto/HomeReviewDto.java
  backend/src/main/java/solid/backend/main/home/repository/HomeQueryRepository.java
  backend/src/main/java/solid/backend/main/home/service/HomeServiceImpl.java
Labels: bug, backend

#193 fix: 카드 결제 및 등록 유효기간 체크, 기간 지난 상품 구매 필터
  backend/src/main/java/solid/backend/payment/README.md
  backend/src/main/java/solid/backend/payment/payment/controller/PaymentOrderController.java
  backend/src/main/java/solid/backend/payment/payment/service/PaymentOrderService.java
  backend/src/main/java/solid/backend/payment/payment/service/PaymentOrderServiceImpl.java
Labels: bug, backend

#205 refactor: 카드 암호화 방식 변경
  backend/src/main/java/solid/backend/mypage/payment/service/PaymentServiceImpl.java
  backend/src/main/java/solid/backend/payment/payment/service/PaymentOrderServiceImpl.java
Labels: backend, refactor
