Repository DeepDive-SOLID/EXP-MISSION-Shoppingmall, pull requests merged in 2025-06, with the labels that each got.

#38 feat: 대시보드 기능 추가
  backend/README.md
  backend/src/main/java/solid/backend/admin/dashboard/comtroller/DashboardController.java
  backend/src/main/java/solid/backend/admin/dashboard/dto/DashboardCategoryStatsDto.java
  backend/src/main/java/solid/backend/admin/dashboard/dto/DashboardMonthlyTxDto.java
  backend/src/main/java/solid/backend/admin/dashboard/dto/DashboardProductStatsDto.java
  backend/src/main/java/solid/backend/admin/dashboard/dto/DashboardWeeklySalesAmtDto.java
  backend/src/main/java/solid/backend/admin/dashboard/repository/DashboardQueryRepository.java
  backend/src/main/java/solid/backend/admin/dashboard/service/DashboardService.java
  backend/src/main/java/solid/backend/admin/dashboard/service/DashboardServiceImpl.java
Labels: backend

#41 feat: 주문관리 기능 개발
  backend/README.md
  backend/src/main/java/solid/backend/admin/orders/controller/OrdersController.java
  backend/src/main/java/solid/backend/admin/orders/dto/OrdersManagementDto.java
  backend/src/main/java/solid/backend/admin/orders/dto/OrdersSearchDto.java
  backend/src/main/java/solid/backend/admin/orders/repository/OrdersQueryRepository.java
  backend/src/main/java/solid/backend/admin/orders/service/OrdersService.java
  backend/src/main/java/solid/backend/admin/orders/service/OrdersServiceImpl.java
  backend/src/main/java/solid/backend/config/QueryDSLConfig.java
Labels: backend

#45 refactor: 대시 보드 기능 수정
  backend/README.md
  backend/src/main/java/solid/backend/admin/dashboard/repository/DashboardQueryRepository.java
Labels: backend, refactor

#66 feat: 첨부 이미지 기능 추가
  frontend/README.md
  frontend/src/api/admin/productApi.ts
  frontend/src/api/admin/travelApi.ts
  frontend/src/pages/admin/manageProduct/ManageProduct.module.scss
  frontend/src/pages/admin/manageProduct/ManageProduct.tsx
  frontend/src/pages/admin/manageTravel/ManageTravel.module.scss
  frontend/src/pages/admin/manageTravel/ManageTravel.tsx
  frontend/src/types/admin/product.ts
  frontend/src/types/admin/travel.ts
  frontend/src/utils/productImg.ts
  frontend/src/utils/transformProduct.ts
  frontend/src/utils/travelUtils.ts
Labels: enhancement, frontend, refactor

#50 feat: 사용자 권한 변경
  backend/README.md
  backend/src/main/java/solid/backend/admin/member/controller/MemberController.java
  backend/src/main/java/solid/backend/admin/member/dto/MemberUpdDto.java
  backend/src/main/java/solid/backend/admin/member/repository/MemberRepository.java
  backend/src/main/java/solid/backend/admin/member/service/MemberService.java
  backend/src/main/java/solid/backend/admin/member/service/MemberServiceImpl.java
  backend/src/main/java/solid/backend/entity/Auth.java
Labels: enhancement, backend

#67 feat: 주문 상태 수정
  backend/README.md
  backend/src/main/java/solid/backend/admin/orders/controller/OrdersController.java
  backend/src/main/java/solid/backend/admin/orders/dto/OrdersUpdateDto.java
  backend/src/main/java/solid/backend/admin/orders/repository/OrdersRepository.java
  backend/src/main/java/solid/backend/admin/orders/service/OrdersService.java
  backend/src/main/java/solid/backend/admin/orders/service/OrdersServiceImpl.java
Labels: backend

#87 fix: 여행 상품 등록, 수정 버그
  backend/src/main/java/solid/backend/admin/travel/dto/TravelUpdDto.java
  backend/src/main/resources/application.properties
Labels: bug, backend, priority high

#102 feat: 회원가입, 로그인, 마이페이지 화면 개발, bug: 주문 관리 페이지 주문 번호 오류 수정
  frontend/src/api/login/authApi.ts
  frontend/src/api/mypage/memberApi.ts
  frontend/src/api/mypage/orderApi.ts
  frontend/src/assets/images/addComplete.jpg
  frontend/src/assets/images/addFail.jpg
  frontend/src/assets/images/kakao.jpg
  frontend/src/assets/images/kb.jpg
  frontend/src/assets/images/nh.jpg
  frontend/src/assets/images/profile1.jpg
  frontend/src/assets/images/samsung.jpg
  frontend/src/components/common/Header_login/Header.tsx
  frontend/src/components/common/Sidebar_mypage/Sidebar.module.scss
  frontend/src/components/common/Sidebar_mypage/Sidebar.tsx
  frontend/src/index.css
  frontend/src/main.tsx
  frontend/src/pages/admin/manageOrder/ManageOrder.tsx
  frontend/src/pages/login/findPw/Find.module.scss
  frontend/src/pages/login/findPw/FindId.tsx
  frontend/src/pages/login/findPw/FindPw.tsx
  frontend/src/pages/login/signIn/SignIn.module.scss
  frontend/src/pages/login/signIn/SignIn.tsx
  frontend/src/pages/login/signIn/SignInFromPayment.tsx
  frontend/src/pages/login/signUp/SignUp.module.scss
  frontend/src/pages/login/signUp/SignUp.tsx
  frontend/src/pages/mypage/cardInfo/addComplete/AddComplete.module.scss
  frontend/src/pages/mypage/cardInfo/addComplete/AddComplete.tsx
  frontend/src/pages/mypage/cardInfo/addFail/AddFail.module.scss
  frontend/src/pages/mypage/cardInfo/addFail/AddFail.tsx
  frontend/src/pages/mypage/cardInfo/cardAdd/CardAdd.module.scss
  frontend/src/pages/mypage/cardInfo/cardAdd/CardAdd.tsx
  frontend/src/pages/mypage/cardInfo/cardInfo/CardInfo.module.scss
  frontend/src/pages/mypage/cardInfo/cardInfo/CardInfo.tsx
  frontend/src/pages/mypage/editProfile/EditProfile.module.scss
  frontend/src/pages/mypage/editProfile/EditProfile.tsx
  frontend/src/pages/mypage/orderList/OrderList.module.scss
  frontend/src/pages/mypage/orderList/OrderList.tsx
  frontend/src/types/admin/order.ts
  frontend/src/types/admin/product.ts
  frontend/src/types/login/auth.ts
  frontend/src/types/mypage/member.ts
  frontend/src/types/mypage/order.ts
Labels: bug, enhancement, frontend

#103 feat: 홈 화면 개발
  backend/src/main/java/solid/backend/main/home/README.md
  backend/src/main/java/solid/backend/main/home/controller/HomeController.java
  backend/src/main/java/solid/backend/main/home/dto/HomeDetailDto.java
  backend/src/main/java/solid/backend/main/home/dto/HomeReviewDto.java
  backend/src/main/java/solid/backend/main/home/dto/HomeSearchDto.java
  backend/src/main/java/solid/backend/main/home/dto/HomeTravelDto.java
  backend/src/main/java/solid/backend/main/home/repository/HomeQueryRepository.java
  backend/src/main/java/solid/backend/main/home/service/HomeService.java
  backend/src/main/java/solid/backend/main/home/service/HomeServiceImpl.java
Labels: backend

#106 feat: 페이지 보안 설정 및 암호화 알고리즘
  backend/src/main/java/solid/backend/Jwt/JwtFilter.java
  backend/src/main/java/solid/backend/common/AESUtil.java
  backend/src/main/java/solid/backend/config/SecurityConfig.java
  backend/src/main/java/solid/backend/jpaRepository/MemberRepository.java
  backend/src/main/java/solid/backend/main/sign/repository/SignRepository.java
  backend/src/main/java/solid/backend/main/sign/service/SignServiceImpl.java
Labels: enhancement, backend

#111 fix: 파일 경로 수정
  backend/src/main/java/solid/backend/common/FileManager.java
Labels: bug, backend

#117 feat: 로그인 권한에 따른 헤더 설정, 경로 접근 제한
  backend/src/main/resources/application-secret.properties
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/api/axios.ts
  frontend/src/api/mypage/memberApi.ts
  frontend/src/components/common/Header/Header.module.scss
  frontend/src/components/common/Header/Header.tsx
  frontend/src/components/common/Header_dash/Header.tsx
  frontend/src/components/common/Header_login/Header.module.scss
  frontend/src/components/common/Header_login/Header.tsx
  frontend/src/components/common/Header_logout/Header.tsx
  frontend/src/components/common/ProtectedRoute.tsx
  frontend/src/components/common/Sidebar_mypage/Sidebar.tsx
  frontend/src/contexts/AuthContext.tsx
  frontend/src/main.tsx
  frontend/src/pages/detail/Detail.tsx
  frontend/src/pages/home/Home.tsx
  frontend/src/pages/login/signIn/SignIn.tsx
  frontend/src/pages/login/signIn/SignInFromPayment.tsx
  frontend/src/pages/mypage/cardInfo/addComplete/AddComplete.module.scss
  frontend/src/pages/mypage/cardInfo/addComplete/AddComplete.tsx
  frontend/src/pages/mypage/cardInfo/addFail/AddFail.module.scss
  frontend/src/pages/mypage/cardInfo/addFail/AddFail.tsx
  frontend/src/pages/mypage/cardInfo/cardAdd/CardAdd.module.scss
  frontend/src/pages/mypage/cardInfo/cardAdd/CardAdd.tsx
  frontend/src/pages/mypage/cardInfo/cardInfo/CardInfo.module.scss
  frontend/src/pages/mypage/cardInfo/cardInfo/CardInfo.tsx
  frontend/src/pages/mypage/editProfile/EditProfile.module.scss
  frontend/src/pages/mypage/editProfile/EditProfile.tsx
  frontend/src/pages/mypage/orderList/OrderList.module.scss
  frontend/src/pages/mypage/orderList/OrderList.tsx
  frontend/src/pages/search/Search.tsx
  frontend/src/types/mypage/member.ts
  frontend/src/utils/auth.ts
Labels: frontend, priority high
